.row-2{
    float: left;
    margin-left: 40px;
    width: 30%;
    border: 1px solid #edecec;
    background-color: #edecec;
}


.list .card .header{
    text-align: center;
}

.list .card .body{
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #edecec;
}
.col1{
    float: left;
}

.col2{
    float: left;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 7px;
}

.col3{
    float: left;
    width: 80px;
    text-align: center;
    margin-top: 7px;
}



.btn{
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
}

.btn .btn-editar{
    float: right;
    border: none;
    padding: 7px 15px 7px 15px;
    background-color: #C71042;
    color: #fff;
}



.footer .subtotal{
    padding: 15px;
}

.footer .subtotal{
    overflow: hidden;
}

.footer .total{
    padding: 15px;
    background-color: #000;
    color: #fff;
}
.footer .total{
    overflow: hidden;
}

.footer .col-1{
    float: left;
    width: 50%;
}

.footer .col-1 p{
    margin: 0;
}

.footer .col-2 p{
    margin: 0;
}

.footer .col-2{
    float: left;
    width: 50%;
    text-align: right;
}





